.Img_product {
  height: 450px;
  width: 500px;
  margin: 10px 30px; }

.Product--information {
  background-color: #e7e71d;
  width: 650px;
  margin: 10px 20px; }

.Product--information--body {
  margin: 0 20px; }

.Product--information--body--Name {
  height: 40px;
  text-align: center; }

.Product--information--body--cost {
  font-size: 30px; }

.Product--information--body--cost span {
  font-size: 20px;
  color: #ec1515;
  font-weight: bold; }

.Product--information--body--describe {
  display: flex;
  font-size: 30px;
  flex-wrap: wrap; }

.Product--information--body--describe span {
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-all;
  /* white-space: nowrap;
     overflow: hidden; */ }

.Product--information--body--Address {
  font-size: 30px; }

.Product--information--body--Address span {
  font-size: 16px; }

.Product--checkNumber {
  /* height: 60px; */
  background-color: #a5d6d6; }

.Product--checkNumber p {
  font-size: 30px; }

.Product--checkNumber div {
  background-color: white;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between; }

.Product--checkNumber div p {
  width: 40px;
  cursor: pointer; 
  display: flex;
  text-align: center;
  justify-content: center;
}

.Product--checkNumber div input {
  width: 120px;
  text-align: center;
  justify-content: center;
}



.receipt {
  height: 100px;
  display: flex;
  justify-content: space-evenly; }

.receipt button {
  height: 60px;
  width: 150px;
  margin-top: 20px;
  text-align: center;
  background-color: #ca5757;
  outline: none;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer; }
