<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/HomePage/HomePage.css">
    <link rel="stylesheet" href="http://localhost:3000/css/HomePage/Base.css">
    <link rel="stylesheet" href="http://localhost:3000/css/HomePage/HomPage__Hover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="http://localhost:3000/css/recipt.css">
    
</head>
<body>
    <div class="app">
        <!-- start header -->
        <header>
            <!-- strat navbar -->
            <nav class="start__header">
                <ul>
                    <li>
                        <a href="http://localhost:3000/TrangChu">Trang chủ</a>
                    </li>
                    <li>Kết nối với chúng tôi qua Fb.</li>
                    <a href="https://www.facebook.com/profile.php?id=100033018489893"><i class="fa-brands fa-facebook" style="color: var(--Color--text);"></i></a>
                    <a href="https://www.instagram.com/dangthanhloca2/"><i class="fa-brands fa-instagram" style="color: var(--Color--text); margin-left: 10px;"></i></a>
                </ul>
                <ul>
                    <li class="User--hover">
                        <i class="fas fa-bell"></i>
                        Thông báo
                               <!-- Begin: Header Notifition -->
                               <div class="header__notify ">
                                <header class="header__notify--heading">
                                    Thông báo mới nhận
                                </header>
                                <div class="header__notify--list">
                                    <a href="" class="header__notify--item">
                                      
                                        <div class="header__notify--body">
                                            <h3 class="header__notify--name">Nhanh tay săn ngay mỹ phẩm F8 vào ngày 8/3 để nhận nhiều ưu đãi</h3>
                                            <p class="header__notify--description">Thương hiệu mỹ phẩm đến từ F8, sáng mịn da tự tin ra đường bảo đảm trai bu như kiến hiện đang giảm giá 99% chỉ còn 1k</p>
                                        </div>
                                    </a>

                                  
                                  
                                  
                                </div>
                                <footer class="header__notify--footer">       
                                        <button class="header__notify--btn">Xem tất cả</button>

                                </footer>
                            </div>
                            <!-- End: Header Notifition -->
                    </li>
                         
                    <li><a href="http://127.0.0.1:5501/Code/HelpFolder/boxchat.html"><i class="fa-solid fa-question"></i> Trợ giúp.</a></li>
                    <li><a href="http://localhost:3000/Login">Đăng nhập.</a></li>
                 
                </ul>
            </nav>
            <!-- end navbar -->

            <div class="foot__header">
                <div class="foot__header--img">
                     <img  src="/Img/Logo.png" alt="Ảnh lỗi.">
                </div>
                <div class="foot__header--sreach">
                    <div class="foot__header--sreach--input">
                        <input type="text" placeholder="Nhập sản phẩm tìm kiếm">

                        <!-- start input  table -->
                        <div class="foot__header--sreach--input--table">
                            <header >
                                <p>Lịch sử tìm kiếm</p>
                            </header>
                            <!-- item demo -->
                            <div class="foot__header--sreach--input--table--list">
                                <a href="" class="foot__header--sreach--input--table--item">
                                    <p>Áo thun</p>
                                </a>
                          
                            </div>
                            <footer class="header__notify--footer  ">       
                                <button class="header__notify--btn">Xem tất cả</button>

                        </footer>
                        </div>
                          <!-- end input  table -->
                          

                    </div>
                    <div class="foot__header--sreach--wing"></div>
                    <div class="foot__header--sreach--input--icon">
                        <div class="foot__header--sreach--input--icon--inner" >
                            <a href=""><i class="fa-solid fa-magnifying-glass" style="color: var(--Color--text);" ></i></a>
                        </div>
                    </div>
                        
                </div>

                <div class="foot__header--sreach--cart">
                    <i class="fa-solid fa-cart-shopping" style="color:var(--Color--text); font-size: 40px;"></i>
                     <!-- start cart -->

                        <div class="cart  header__notify">
                            <header class="header__notify--heading header__cart">
                                Sản phẩm mới thêm
                            </header>

                            <!-- demo san pham -->
                            <div class="header__notify--list">
                              
                                
         
                            
                            </div>
                            <footer class="header__notify--footer">       
                                    <button class="header__notify--btn">Xem tất cả</button>

                            </footer>

                        
                        </div>
                        <!-- End: Header Notifition -->
                    <!-- end cart -->
                </div>

        
            </div>
                
           
        </header> 

        <div class="contaiiner">
            <div class="start__containner"> 
                <form style="display: flex;">
                <img class="Img_product" src="/img/{{pt.Img}}" name="Img" alt="Ảnh lỗi">
                <div class="Product--information">
                    <div class="Product--information--body">
                        <h1 class="Product--information--body--Name"  name="Name" >{{pt.Name}} </h1>
                        <p class="Product--information--body--cost"  name="Cost" >Giá của sản phẩm :<span>{{pt.Cost}}</span> </p>
                        <p class="Product--information--body--describe">Mô tả sản phẩm <span> {{pt.Descibre}}</span></p>
                        <p class="Product--information--body--Address">vận chuyển tới: <span>30 A đường số 9 tăng nhơn phú B quận 9 pch</span> </p>
                        <div class="Product--checkNumber">
                          
                           
                        </div>
                        <div  class="receipt">
                            <button id="AddCart" onclick="ShowMessage()" name="vote" value="add-cart">Thêm vào giỏ hàng</button> 
                            <button type="submit" onclick="ShowMessage()" name="vote" value="buy">Mua ngay</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
          
        <footer id="footer">
            <div class="grid__footer">
                <h1>Cảm ơn mọi người đã ghé shop của chúng tôi.</h1>
            </div>
        </footer>
        </div>
</body>
    <script>
        function ShowMessage(){
            alert('Bạn cần phải đăng nhập')
        }
    </script>
</html>